<footer>
    <div class="ft">
        <div class="ft-social">
            <a href="https://www.instagram.com/theyneedhelp.in/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="ft-name">
            <p>&copy;TheyNeedHelp</p>
        </div>
        <div class="ft-link">
            <a href="mailto:theyneedhelp.in@gmail.com" >theyneedhelp.in@gmail.com</a>
        </div>
        <div class="ft-name ft-made">
            <p>Made with &hearts; <b>by Mandeep & Vansh</b></p>
        </div>

    </div>
</footer>