.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-search {
  width: 15rem !important;
}

.nav-link {
  transition: ease 0.2s;
}

.nav-link:hover {
  text-decoration: underline;
}

.autocomplete-container {
  position: relative;
  width: auto;
}

.autocomplete-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.nav-search {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.suggestions {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 2.9rem;
  display: none;
}

.suggestions div {
  padding: 10px;
  cursor: pointer;
}

.suggestions div:hover {
  background: #f0f0f0;
}