<% layout("./boilerplate/boilerplate.ejs") %>


    <div class="about-main mb-5">
        <div class="container">
            <h4>About website and idea</h4>
            <p>
                In  present time we can see that people are being cruel to animals in various ways like hitting, neglecting,
                and even using them for entertainment or testing, causing severe physical and mental suffering. This cruelty
                not harms innocent creatures but also leads to a decline a biodiversity.
            </p>

            <p>
                While strict laws exist, enforcement remains weak, making it crucial to raise awareness. Rescue shelters
                and
                cruelty-free products offer solutions, but more help is needed. Where do we need help From individuals,
                organizations, and governments who can contribute by reporting abuse, supporting shelters, and choosing
                ethical alternatives. Together, we can create a safer world for animals.
            </p>
            <p>
                They cannot ask for help, but we can be their voice.
            </p>
            <p>
               Every second matters when an innocent animalsis suffering. Right now, many animals endure crulety- beaten,
               abandoned, or trapped in painful conditions - while help arrives too late. Often, by the time news reaches authorities,
               it's already too late to save them. They Need Help is our initiative to change this. Our platform allows people to 
               report animals cruelty immeddiately, connecting them with the nearest NGOs and organizations for urgent action. The
               Faster the report reaches the right hands, the faster a life can saved. With stronger enforcement and real-time 
               intervention, we can ensure that no animals suffers in silence. Be their voice Act now.
            </p>
            <h3 class="mt-5">About Developers</h3>
            <p class="mt-3">
                Developer 1: Hey everyone, my name is Mandeep Nagar. I'm 19 years old as on 01-04-2025 and currently studying at IIT Patna, 
                pursuing a BS in Computer Science and Data Analytics. &nbsp;
                <a href="https://www.instagram.com/mandeep_10r/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            </p>
            <p class="mt-2">
                Developer 2: Hey everyone, my name is Vansh Garg. I'm 18 years old and currently at IIT Patna,
                 pursuing a BS in Computer science and data Analytics. I am good in coding. Both of us have started this project
                 together so that we can be a part of help and save more animals. &nbsp;
                 <a href="https://www.instagram.com/vanshgarg257/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            </p>

            <h3 class="mt-5">Contact us</h3>
            <p class="mt-3">
                if you want to register your NGO in our platform or if you want to contact us, you can mail us at: <a href="mailto:theyneedhelp.in@gmail.com" >theyneedhelp.in@gmail.com</a>
            </p>
        </div>
    </div>
    