<% layout("./boilerplate/boilerplate.ejs") %>

  <div class="slider-main ">
    <img src="https://picsum.photos/id/237/1000/500" alt="" class="img">
    <img src="resources/main_bg2.png" alt="" class="img">
    <img src="https://media.4-paws.org/9/b/4/7/9b4767e25f9815c8e1bb4adda0f36961f6a9f191/VIER_PFOTEN_2023-02-15_00009-2895x2004-1920x1329.jpg" alt="" class="img">
    <div class="overlay">
      <img src="/resources/home_logo.png" class="img-fluid main_logo" alt="TheyNeedHelp.">
    </div>
  </div>

  <div class="container-sm home-main-one">
    <p>
        TheyNeedHelp is a platform where users can post and help the NGO's to rescue the animals.
    </p>
    <p class="mt-2">
      For more info, go on <b><a href="/about" class="link">About</a></b> page
    </p>
  </div>
  <div class="home-main-two mt-5 d-none d-lg-block">
    <div class="cards">
      <div class="left1">
        <img src="https://media.licdn.com/dms/image/v2/D5612AQGDCZocDA5wbA/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1654235364260?e=2147483647&v=beta&t=s_pZhrwfrLFta6Hq61E8EWTfjgVAXKdHXbGrHJLkqmI" class="img-fluid main-card-img" alt="...">
      </div>
      <div class="right1 container">
        <h4>5 Minutes</h4>
        <p>It takes your 5 minutes only to record and upload a case to save a life</p>
      </div>
    </div>

    <div class="cards mt-4">
      <div class="left2 container">
        <h4>Be their voice</h4>
        <p>They can't speak but you can. Be their voice</p>
      </div>
      <div class="right2">
        <img src="https://www.orfonline.org/public/uploads/posts/image/Street-Dogs.jpg" class="img-fluid main-card-img" alt="...">
      </div>
    </div>

    <div class="cards mt-4">
      <div class="left1">
        <img src="https://www.madpaws.com.au/wp-content/uploads/2020/12/How-Do-I-Teach-My-Dog-to-Shake-Hands.jpg" class="img-fluid main-card-img" alt="...">
      </div>
      <div class="right1 container">
        <h4>You're hero</h4>
        <p>You are not just reporting, you are rescuing them.</p>
      </div>
    </div>
  </div>

  <div class="mobiles-card mt-5 d-lg-none row row-cols-1 ">
    <div class="card bg-transparent border border-0 mt-5 m-auto" style="width: 18rem;">
      <img src="https://media.licdn.com/dms/image/v2/D5612AQGDCZocDA5wbA/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1654235364260?e=2147483647&v=beta&t=s_pZhrwfrLFta6Hq61E8EWTfjgVAXKdHXbGrHJLkqmI" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>5 Minutes</h4>
        <p>It takes your 5 minutes only to record and upload a case to save a life</p>
      </div>
    </div>

    <div class="card bg-transparent border border-0 mt-5 m-auto" style="width: 18rem;">
      <img src="https://www.orfonline.org/public/uploads/posts/image/Street-Dogs.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Be their voice</h4>
        <p>They can't speak but you can. Be their voice</p>
      </div>
    </div>

    <div class="card bg-transparent border border-0 mt-5 m-auto" style="width: 18rem;">
      <img src="https://www.madpaws.com.au/wp-content/uploads/2020/12/How-Do-I-Teach-My-Dog-to-Shake-Hands.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>You're hero</h4>
        <p>You are not just reporting, you are rescuing them</p>
      </div>
    </div>
  </div>
  <div class="container-sm home-main-one mt-5 mb-3">
    <p>
       Achivements will added soon
    </p>
    <p>
      plz collab with us
   </p>
   <img src="resources/hamster.png" class="img-fluid" alt="...">
  </div>