<% layout("./boilerplate/boilerplate.ejs") %>

<div class="row mt-3 mb-5">
    <div class="col-8 offset-2">
        <h2>Change your password</h2>
        <form action="/change-password" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="password" class="form-lable">New Password</label>
                <input type="password" name="password" id="password" placeholder="Enter new password" class="form-control" required>
                <!-- script and styple for eye button is on home.js and home.css -->
                <button class="btn btn-outline-secondary eye" type="button" id="togglePassword">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </div>
            <button class="btn btn-dark mt-3">Change Now</button>
        </form>
    </div>
</div>