<% layout("./boilerplate/boilerplate.ejs") %>

<div class="not-found">
    <div class="msg">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <h4>page not found</h4>
    </div>
    <form action="/">
        <button class="btn btn-dark">Return to home</button>
    </form>
</div>